{% extends 'base.html' %}

{% load static %}

{% block title %}
leuci-web
{% endblock title %}

{% block content %}
<h2>Leucippus Software for Crystallography Visualisation</h2>
<p>
    A suite of python libraries and interfaces to explore x-ray crystallography data and cryo-em potential.
    <br/><br/>In development for a PhD at Birkbeck, University of London, 2022 onwards...
    <br/>PhD student Rachel Alcraft
    <br/>Supervisor Mark A. Williams
    <br/><br/>Birkbeck, University of London, Malet St, London WC1E 7HX, UK 
</p>
{% endblock content %}

