{% load static %}

<html>

<head>
    <link rel="stylesheet" href="{% static 'res/css/theme.css' %}" />
    <link rel="icon" href="{% static 'res/img/index.ico' %}" />
    <title>
        {% block title %}
        leuci-web
        {% endblock %}
    </title>        
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>    
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>

    <style>
    .button {
        background-color: cornflowerblue; 
        border: none;
        color: white;
        padding: 5px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 2px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
      }      
      .button1 {
        background-color: rgb(240, 240, 240); 
        color: navy;
        border: oldlace;         
      }
      .button1:hover {
        background-color: rgb(162,162,208);
        color: white;
       }
       .button2 {
        background-color: rgb(151, 151, 189); 
        color: white;         
      }
      .button2:hover {
        background-color: snow;
        color: navy;
       }
    </style>
      
</head>

<body>    
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-translucent-secondary" style="background:crimson !important">
        <img src="{% static 'res/img/ED_tile.png' %}" width="60" height="auto" alt="Leuci-Web Group Logo" />
        <a class="navbar-brand tk-elevon" href="{% url 'index' %}" style="font-family:verdana !important;">&nbsp; Leuci-Web</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar"
            aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>                
        <div class="collapse navbar-collapse" id="mainNavbar">            
            <ul class="navbar-nav ml-auto">                                              
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'slice' %}" style="font-family:verdana !important;">Slice</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'projection' %}" style="font-family:verdana !important;">Projection</a>
                </li>                                                
            </ul>
        </div>
        <br/>
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav ml-auto">                
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'explore' %}" style="font-family:verdana !important; background-color: rgba(238, 79, 110, 0.744) !important;">Explore</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" style="font-family:verdana !important;">Compare</a>
                </li>                
                <li class="nav-item">
                    <a class="nav-link" href="" style="font-family:verdana !important;">Superpose</a>
                </li>                       
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}" style="font-family:verdana !important;">About</a>
                </li>                
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin' %}" style="font-family:verdana !important;">Admin</a>
                </li>                                
            </ul>
        </div>
        
    </nav>

    <main role="main">
        <div class="jumbotron" style="background-image: url({% static 'res/img/banner.png' %}); background-size:repeat; opacity:0.7;">            
        </div>

        {% if messages %}
            {% for message in messages %}'
            <div class="alert alert-{{message.tags}}" role="alert">
                <p>{{ message }}</p>
            </div>   
            {% endfor %}
        {% endif %}

        <div class="container-xl">
            <div class="row">
                
                <div class="col-md-auto">
                    {% block content %}
                    <h1 class="display-4 tk-elevon">Lorem Ipsum Dolor</h1>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    {% endblock %}
                </div>
            </div>
        </div>
        <div>
            .<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>.<br/>
        </div>

    </main>

    <footer class="container">
        <p>
            <hr/>
            &copy; Rachel Alcraft 2023
            <hr/>
        </p>
    </footer>
</body>

</html>