{% extends 'base.html' %}

{% block title %}
broken0
{% endblock title %}

{% block content %}
<h3>Not a broken link - 0</h3>
<p>Displays some real data loaded directly from a csv file</p>
<div class="px-4 py-3 my-2 text-center">
    <img src='data:image/png;base64,{{ wind_rose }}'>                    
</div>   
<hr/>
<p>Also if I press the button it shows how data can be passed through</p> 
<h3>{{ name }}</h3>
<form method="post" action="broken0">
    {% csrf_token %}    
        <td><label for="name">Enter anything:</label></td>
        <td><input type="text" id="name" name="name" style="max-width: 256px;"></td>
        <td><button type="submit">pass text</button></td>    
</form>  
{% endblock content%}

