{% extends 'base.html' %}

{% block title %}
Leuci-Web - {{ destination }}
{% endblock title%}

{% block content %}
<h1>Destination: {{ destination }}</h1>
<p>
    {{ destination.description }}
</p>
<p>
   You can explore {{ destination }} on the following cruises: 
</p>
<ul class = "list-group">
    {% for cruise in destination.cruises.all %}    
    <a class="list-group list-group-item-action" href="{% url 'cruise_detail' cruise.id %}">{{ cruise.name }}</a>
    {% endfor %}
</ul>
{% endblock content%}
