{% extends 'base.html' %}

{% block title %}
Leuci-Web - *-*
{% endblock title %}

{% block content %}
<h1>Leuci-Web - Many-Many Example</h1>
<p>
    This is demonstrating a many-many relationship between destination and cruise.
    A cruise can have many destinations, many different cruises can visit a destination
</p>
<hr/>
<h4>Destinations</h4>

<ul class="list-group">
    {% for destination in destinations %}
    <a class="list-group-item list-group-item-action" href="{% url 'destination_detail' destination.id %}">
        {{ destination }}
    </a>
    {% endfor %}
</ul>
<hr/>
<h4>Cruises</h4>
<ul class="list-group">
    {% for cruise in cruises %}
    <a class="list-group-item list-group-item-action" href="{% url 'cruise_detail' cruise.id %}">
        {{ cruise }}
    </a>
    {% endfor %}
</ul>
{% endblock content %}