{% extends 'base_explore.html' %}

{% load static %}

{% block title %}
explore
{% endblock title %}

{% block content %}
<h2>Explore Density Map: <a href={{ full_url }} target = "_blank">{{ pdb_code }}</a></h2>
<h3>{{ message }} </h3>
<hr/>
<table style="text-align:left;border-width:0px !important;">
    <tr style="text-align:left;border-width:0px !important;">
        <th style="text-align:left;border-width:0px !important;background-color:white;">
            Selection
        </th>
        <th style="width:20px"></th>
        <th style="text-align:left;border-width:0px !important;background-color:white;">
            Map details
        </th>
    </tr>
    <tr>
        <td style="background-color:rgb(162,162,208);">
            <table>
                <tr>
                    <td colspan="4">
                        <form method="post" action="explore" style="padding:2px !important;margin:0px !important">
                            {% csrf_token %}    
                                <label for="pdb_code">Pdb Code:</label>
                                <input type="text" id="pdb_code" name="pdb_code" value="{{ pdb_code }}" style="width:60px;">
                                <button type="submit">Fetch</button>
                        </form>  
                    </td>
                </tr>
                <tr>
                    <th colspan="4" style="background-color:white;">
                        <br/>Or choose from...
                    </th>
                </tr>
                <tr>
                    <th colspan="4">
                        Birkbeck Structures
                    </th>
                </tr>
                <tr>
                    <td>
                        <form method="post" action="explore" style="padding:2px !important;margin:0px !important">
                            {% csrf_token %}            
                            <input type="text" id="pdb_code" name="pdb_code" value="2bf9" style="width:0px;visibility:hidden;display:none">                                                        
                            <button class="button button2" type="submit">2bf9</button>
                        </form>  
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th colspan="4">
                        Small Structures
                    </th>
                </tr>
                <tr>
                    <td>                        
                        <form method="post" action="explore" style="padding:2px !important;margin:0px !important">
                            {% csrf_token %}            
                            <input type="text" id="pdb_code" name="pdb_code" value="6eex" style="width:0px;visibility:hidden;display:none">
                            <button class="button button2" type="submit">6eex</button>
                        </form>                      
                    </td>
                    <td>
                        <form method="post" action="explore" style="padding:2px !important;margin:0px !important">
                            {% csrf_token %}            
                            <input type="text" id="pdb_code" name="pdb_code" value="6q53" style="width:0px;visibility:hidden;display:none">
                            <button class="button button2" type="submit">6q53</button>
                        </form>                                              
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th colspan="4">
                        Ultra-high resolution
                    </th>
                </tr>
                <tr>
                    <td>
                        <form method="post" action="explore" style="padding:2px !important;margin:0px !important">
                            {% csrf_token %}            
                            <input type="text" id="pdb_code" name="pdb_code" value="1ejg" style="width:0px;visibility:hidden;display:none">
                            <button class="button button2" type="submit">1ejg</button>
                        </form>                      
                    </td>
                    <td>
                        <form method="post" action="explore" style="padding:2px !important;margin:0px !important">
                            {% csrf_token %}            
                            <input type="text" id="pdb_code" name="pdb_code" value="3nir" style="width:0px;visibility:hidden;display:none">
                            <button class="button button2" type="submit">3nir</button>
                        </form>  
                    </td>                    
                    <td>
                        <form method="post" action="explore" style="padding:2px !important;margin:0px !important">
                            {% csrf_token %}            
                            <input type="text" id="pdb_code" name="pdb_code" value="5d8v" style="width:0px;visibility:hidden;display:none">
                            <button class="button button2" type="submit">5d8v</button>
                        </form>                      
                    </td>                    
                    <td>
                        <form method="post" action="explore" style="padding:2px !important;margin:0px !important">
                            {% csrf_token %}            
                            <input type="text" id="pdb_code" name="pdb_code" value="4rek" style="width:0px;visibility:hidden;display:none">
                            <button class="button button2" type="submit">4rek</button>
                        </form>  
                    </td>
                </tr>
                <tr>
                    <th colspan="4">
                        Electron crystallography
                    </th>
                </tr>
                <tr>
                    <td>
                        <form method="post" action="explore" style="padding:2px !important;margin:0px !important">
                            {% csrf_token %}            
                            <input type="text" id="pdb_code" name="pdb_code" value="6kj3" style="width:0px;visibility:hidden;display:none">
                            <button class="button button2" type="submit">6kj3</button>
                        </form>     
                    </td>                    
                    <td>                 
                        <form method="post" action="explore" style="padding:2px !important;margin:0px !important">
                            {% csrf_token %}            
                            <input type="text" id="pdb_code" name="pdb_code" value="6kj1" style="width:0px;visibility:hidden;display:none">
                            <button class="button button2" type="submit">6kj1</button>
                        </form>                      
                    </td>                    
                    <td>
                        <form method="post" action="explore" style="padding:2px !important;margin:0px !important">
                            {% csrf_token %}            
                            <input type="text" id="pdb_code" name="pdb_code" value="6axz" style="width:0px;visibility:hidden;display:none">
                            <button class="button button2" type="submit">6axz</button>
                        </form>  
                    </td>                    
                    <td></td>
                </tr>
                <tr>
                    <th colspan="4">
                        Small Cryo-EM
                    </th>
                </tr>
                <tr>
                    <td>
                        <form method="post" action="explore" style="padding:2px !important;margin:0px !important">
                            {% csrf_token %}            
                            <input type="text" id="pdb_code" name="pdb_code" value="3j9e" style="width:0px;visibility:hidden;display:none">
                            <button class="button button2" type="submit">3j9e</button>
                        </form>  
                    </td>         
                    <td></td>
                    <td></td>
                    <td></td>                               
                </tr>
                <tr>
                    <th colspan="4">
                        High-res Cryo-EM
                    </th>
                </tr>
                <tr>
                    <td>
                        <form method="post" action="explore" style="padding:2px !important;margin:0px !important">
                            {% csrf_token %}            
                            <input type="text" id="pdb_code" name="pdb_code" value="7a6a" style="width:0px;visibility:hidden;display:none">
                            <button class="button button2" type="submit">7a6a</button>
                        </form>  
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>                                                                                                    
            </table>
        </td>
        <td></td>
        <td style="vertical-align: text-top;background-color:rgb(162,162,208);">
            <div style="padding:5px">
                <span>
                    <span style="font-weight: bold;">Resolution:</span>
                    {{ resolution }}                        
                </span>
                <br/>
                <span>
                    <span style="font-weight: bold;">Experimental Method:</span>                     
                    {{ exp_method }}
                </span>
                <br/>
                <span>
                    <span style="font-weight: bold;">Ebi Link:</span>                    
                    <a style="color:aliceblue !important" href="{{ ebi_link }}" target = "_blank">{{ pdb_code }} link</a> 
                </span>
                <span>
                    <span style="font-weight: bold;">Map Link:</span>                    
                    <a style="color:aliceblue !important" href="{{ em_link }}" target = "_blank">Map {{ em_code }} link</a> 
                </span>                
                <br/>
                <span>
                    <span style="font-weight: bold;">Map Info:</span>                    
                    <a style="color:aliceblue !important" href="https://www.ccp4.ac.uk/html/maplib.html#description" target = "_blank">XRay Map Info</a> 
                </span>
                <br/>
                <span>
                    <span style="font-weight: bold;">Map Info:</span>                    
                    <a style="color:aliceblue !important" href="https://www.ccpem.ac.uk/mrc_format/mrc2014.php" target = "_blank">EM Map Info</a> 
                </span>
                <br/>
                <textarea cols="50" rows="15">{{header_string}}</textarea>
                                                                                                                              
            </div>           
        </td>
    </tr>
</table>


{% endblock content%}



