{% extends 'base.html' %}

{% load static %}




{% block title %}
Leuci-Web
{% endblock title%}

{% block content %}
<!--
<script src="{% static 'js/first.js' %}"></script>
<button onclick="myFunction()">Click me!</button>-->
<h1>Leucippus - Electron Density Map Browser</h1>
<p>An application to explore electron density in x-ray crystal structures and cryo-EM structures
<br/>This application faciliates the exploration of the electron density of x-ray and cryo-EM structures, exploring the 3d matrices of their electron distributions.
<br/>The application displays contour plots through the matrix to see the distributions of electrons in chosen positions. You can select either xyz coorinates in space or residues/atoms to explore.
</p>
<br/>
<!--<hr/>
<h1>Some examples from the literature</h1>
<a href="https://leucippus2.azurewebsites.net/docs/LeucippusExamples.pdf" target="_blank" >Leucippus Examples</a>
<br/>
<br/>-->
<hr/>
<h1>Leucippus - the Greek Philosopher</h1>
<p>
Leucippus and his student Democritus were pre-Socratic Greek philosophers 
who developed the theory of atomism - the idea that the world is made up of 
two elements: atoms - uncuttables; and the void - 
the possible space for atoms to occupy. 
</p>
<hr/>
<h1>Application development, Institute of Cancer Research</h1>
<p>
This application is under research development by Rachel Alcraft in the 
RSE team in Scientific Computing at the ICR.  
It is associated with an external PhD at Birkbeck College, University of London.  
</p>


  


{% endblock content %}

