{% extends 'base_explore.html' %}

{% load static %}

{% block title %}
slice
{% endblock title %}

{% block content %}

<h2>Settings for <a href={{ full_url }} target = "_blank">{{ pdb_code }}</a></h2>
<h3>{{ message }} </h3>


<!-- javascript changed elements -->
<table>    
    <tr>        
        <td style="width:10%;">Interpolator</td>        
        <td>
            <button class="button button1" onclick="toggleInterp('nearest')">nearest</button>
            <button class="button button1" onclick="toggleInterp('linear')">linear</button>
            <button class="button button1" onclick="toggleInterp('spline')">spline</button>            
        </td>    
    </tr>
</table>

<!-- input changed elements -->
<form method="post" action="slice" style="padding:2px !important;margin:0px !important">
    {% csrf_token %}
<table>    
    <tr>        
        <td style="width:10%;">Width(A)</td>
        <td><input id="width" value="{{ width }}" name="width"/></td>                
    </tr>
    <tr>
        <td style="width:10%">Samples</td>
        <td><input id="samples" value="{{ samples }}" name="samples"/></td>                
    </tr>        
</table>
<hr/>
<button type="submit">update</button>        
<hr/>
<table>
    <tr>
        <td style="width:10%">Interpolation</td>
        <td><input id="interp" value="{{ interp }}" name="interp"/></td>
    </tr>   
    <tr>        
        <td style="width:10%;">Central</td>
        <td>{{ central }}</td>        
    </tr>
    <tr>
        <td style="width:10%">Linear</td>
        <td>{{ linear }}</td>        
    </tr>
    <tr>
        <td style="width:10%">Planar</td>
        <td>{{ planar }}</td>        
    </tr>
    <tr>
        <td style="width:10%">Fos</td>
        <td>2</td>                
    </tr>    
    <tr>
        <td style="width:10%">Fcs</td>
        <td>-1</td>                
    </tr>    
    <tr>
        <td style="width:10%">Nav dis</td>
        <td>0.1</td>                
    </tr>    
</table>
</form>

<!------------------- JAVASCRIPT FUNCTIONS FOR THE PAGE ELEMENTS ------------------------------->
<script>
    function toggleInterp(method){        
        document.getElementById('interp').value = method;
        document.getElementById('intr').value = method;
    }
</script>

{% endblock content%}



